<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body class="mat-typography">
<mat-toolbar>
    <h3 style="color: snow;">Order on: +91 9416787159</h3>
    <div class="nav">
    <h3><a button href="/sign-up">Sign Up</a></h3>
        <h3><a button href="/login">Log In</a> </h3>
    </div>

  </mat-toolbar>
  
  <mat-toolbar-row>
      <h2 style="color: black;">Chinar Kashmiri</h2>
      <div class="nav1">
        <h3><a button href="/home">Home</a></h3>
        <h3><a button href="/restaurant">Restaurants</a></h3>
        <h3><a button href="/drinksmenu">Drinks and Bevarages</a></h3>
        </div>
        <div class="nav2">
            <mat-icon>account_box</mat-icon>  <h3>My Account</h3>
            <mat-icon>shopping_cart</mat-icon>  <h3>View Cart</h3>
        </div>
  </mat-toolbar-row></body>