<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
<body class="mat-typography">
    <mat-toolbar>
        </mat-toolbar>


        <mat-toolbar-row>
            <h2>Chinar Kashmiri Wazwan</h2>
            <div class="icons">
                <a button href="https://www.facebook.com/" target="_blank">
                <i class='fab fa-facebook-f fa-border fa-1x'></i></a>
            </div>
            
            <div class="icons1">
                <a button href="https://www.twitter.com/" target="_blank">
            <i class='fab fa-twitter fa-border fa-1x'></i></a>
        </div>
         
        <div class="icons2">
            <a button href="https://www.instagram.com/" target="_blank">
            <i class='fab fa-instagram fa-border fa-1x'></i></a>
        </div>

        <div class="icons3">
            <a button href="https://mail.google.com/" target="_blank">
             <i class='fas fa-envelope fa-border fa-1x'></i></a>
        </div>

            <div class="col-md-12 col-sm-12 menu-footer footer-center">
                <ul class="menu">
                  <li class="menu-item"><span>Mahima</span></li>
                  <li class="menu-item"><span>Mobile: +91 9416787159</span></li>
                  <li class="menu-item"><span>mahima2022000@gmail.com</span></li>
                </ul>
                </div>
    
                <div class="img1">
                    <!-- <img src="{{imageSrc}}"/> -->
                    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 50px; width: 150px">

                </div>


        </mat-toolbar-row>
    
    <div class="foot">
    <h3>Copyright@2022- All rights reserved.</h3>
</div>

    </body>