<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="sidebar">
<h4>Food Ordering System</h4>
<mat-divider></mat-divider><br><br>
<p>Mahima</p><br>

<mat-divider></mat-divider><br>
<div class="anchor">
  <mat-sidenav-container>
    
    <mat-sidenav-content><mat-icon>dashboard</mat-icon>
      <a button href="/dashboard">Dashboard</a></mat-sidenav-content>
    
    <mat-sidenav-content><mat-icon>shopping_cart</mat-icon>
      <a button href="#">Orders</a></mat-sidenav-content>
      
      <mat-sidenav-content>
<div class="catalog"> 
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon>receipt</mat-icon>Catalog</button>
<mat-menu #menu="matMenu">
  <a button mat-menu-item href="/restaurant">Restaurants</a>
  <a button mat-menu-item href="/mainmenu">Main Menu</a>
  <a button mat-menu-item href="/menu">Menu</a>
  <a button mat-menu-item href="/drinksmenu">Drinks & Beverages </a>
</mat-menu></div></mat-sidenav-content>


    <mat-sidenav-content><mat-icon>assignment_ind</mat-icon>
      <a button href="#">Customers Manager</a></mat-sidenav-content>

    <mat-sidenav-content><mat-icon>note_add</mat-icon>
      <a button href="/home">Pages</a></mat-sidenav-content>

  <mat-sidenav-content><div class="catalog"> 
        <button mat-button [matMenuTriggerFor]="menu1"><mat-icon>settings</mat-icon>Settings</button>
  <mat-menu #menu1="matMenu">
    <a button mat-menu-item href="/login">Login</a>
    <a button mat-menu-item href="/sign-up">Sign Up</a>
    <a button mat-menu-item href="/forgotpassword">Forgot Password</a>
    <a button mat-menu-item href="/resetpassword">Reset Password </a>
    <a button mat-menu-item href="/logout">Log Out</a>
  </mat-menu></div></mat-sidenav-content>

    <!-- <mat-sidenav-content><mat-icon>settings</mat-icon>
      <a button href="#">Settings</a></mat-sidenav-content>

    <mat-sidenav-content><mat-icon>logout</mat-icon>
      <a button href="#">Logout</a></mat-sidenav-content> -->
  </mat-sidenav-container>

  

</div></div>

