.sidebar{
    width: 20%;
    background-color: black;
    color: snow;
    height: 100%;
}
.mat-divider{
   background-color: white 
}
.mat-sidenav-content{
    width: 100%;
    background-color: black;
    color: snow;

}
.catalog{
    margin-left: -16px;
    text-align: left;
}
.catalog a{
    color: snow;
}
.anchor a{
    text-decoration: none;
    color: snow;
}