<!-- Fizzy Drinks-cocks, pepsi-----Juice----Hurricane Mocktail Drink--- -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="mat-typography">
<mat-toolbar>
    <h3 style="color: snow;">Order on: +91 9416787159</h3>
    <div class="nav">
    <h3><a button href="/sign-up">Sign Up</a></h3>
        <h3><a button href="/login">Log In</a> </h3>
    </div>

  </mat-toolbar>
  
  <mat-toolbar-row>
      <h2 style="color: black;">Chinar Kashmiri</h2>
      <div class="nav1">
        <h3><a button href="/home">Home</a></h3>
        <h3><a button href="/restaurant">Restaurants</a></h3>
        <h3><a button href="/drinksmenu">Drinks and Bevarages</a></h3>
        </div>
        <div class="nav2">
            <mat-icon>account_box</mat-icon>  <h3>My Account</h3>
            <mat-icon>shopping_cart</mat-icon>  <h3>View Cart</h3>
        </div>
  </mat-toolbar-row>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="sidebar">
    <a h4 href="/menu">FOOD</a><br><br>
<mat-divider></mat-divider>
<p>Pizza</p>
<mat-divider></mat-divider>

<p>Burger</p>
<mat-divider></mat-divider>

<p>Chicken</p>
<mat-divider></mat-divider>

<p>Sandwich</p>
<mat-divider></mat-divider><br>

<a h4 href="/drinksmenu">DRINKS</a><br>
<mat-divider></mat-divider>
<p>Alcoholic Drinks</p>
<mat-divider></mat-divider>

<p>Non- Alcoholic Drinks</p>
<mat-divider></mat-divider>

<p>Tea & Coffee</p>
<mat-divider></mat-divider>
<!-- <br> -->
</div>


<div class="rest1">
    <h2><b>DRINKS & BEVERAGES- MENU</b></h2>
</div>

<div class="btn321">
    <a button mat-raised-button href="/mainmenu">All</a>
    <a button mat-raised-button href="/menu">Food</a> 
    <a button mat-raised-button href="/drinksmenu">Drinks</a> 

</div>

<div class="rest2">
    <h2><b>Non-Alcoholic Drinks</b></h2>
</div>
<div class="container">
    <div class="box">
        <div class="imgbox">
            <img src="./assets/images/drinks/cocs.png">
        </div>
        <div class="details1">
            <div class="content1">
                <h3>Frizzy Drinks</h3>
                <p><b>Category:</b> Drinks</p><BR>
                <p>Coca Cola, Pepsi, Fanta, Spirit...</p><BR>
                <p>CDF1, 92.00</p>
                <button mat-raised-button>Add to cart</button> 
            </div>
        </div>
    </div>

    <div class="box">
        <div class="imgbox">
        <img src="./assets/images/drinks/juice.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Shakes</h3>
            <p><b>Category:</b> Drinks</p><BR>
                <p>Mango, Apple, Banana...</p><BR>
                <p>CDF100.00</p>
                <button mat-raised-button>Add to cart</button> 

        </div>
    </div>
</div>

<div class="box">
    <div class="imgbox">
        <img src="./assets/images/drinks/cocktail.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Custard</h3>
            <p><b>Category:</b>Drinks</p><BR>
                <p>Ice, Fruits, Milk, Chocolate...</p><BR>
                <p>CDF699.00</p>
                <button mat-raised-button>Add to cart</button> 
        </div></div>
    </div>

<div class="box">
    <div class="imgbox">
        <img src="./assets/images/drinks/HurricaneMocktailDrink.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Hurricane Mocktail</h3>
            <p><b>Category:</b> Drinks</p><BR>
                <p>Orange, Mango, Mix Juice...</p><BR>
                <p>CDF150.00</p>
                <button mat-raised-button>Add to cart</button> 
        </div>
    </div>
</div>
</div>
<br><br><br>
<br><br>

<div class="rest2">
    <h2><b>Alcoholic Drinks</b></h2>
</div>

<div class="container">
    <div class="box">
        <div class="imgbox">
            <img src="./assets/images/drinks/drink.jpg">
        </div>
        <div class="details1">
            <div class="content1">
                <h3>Black Label</h3>
                <p><b>Category:</b> Drinks</p><BR>
                <p>CDF1, 3000.00</p>
                <button mat-raised-button>Add to cart</button> 
            </div>
        </div>
    </div>

    <div class="box">
        <div class="imgbox">
        <img src="./assets/images/drinks/drink1.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Royal Challenge</h3>
            <p><b>Category:</b> Drinks</p><BR>
                <p>CDF5000.00</p>
                <button mat-raised-button>Add to cart</button> 

        </div>
    </div>
</div>

<div class="box">
    <div class="imgbox">
        <img src="./assets/images/drinks/drink2.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Bort Wine</h3>
            <p><b>Category:</b>Drinks</p><BR>
                <p>CDF3999.00</p>
                <button mat-raised-button>Add to cart</button> 
        </div></div>
    </div>

<div class="box">
    <div class="imgbox">
        <img src="./assets/images/drinks/drink3.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Jack Daniels</h3>
            <p><b>Category:</b> Drinks</p><BR>
                <p>CDF5550.00</p>
                <button mat-raised-button>Add to cart</button> 
        </div>
    </div>
</div>
</div>
<br><br><br>
<br><br>


<div class="rest2">
    <h2><b>Coffee & Tea</b></h2>
</div>
<div class="container">
    <div class="box">
        <div class="imgbox">
            <img src="./assets/images/drinks/coffee.jpg">
        </div>
        <div class="details1">
            <div class="content1">
                <h3>Netscape Coffee</h3>
                <p><b>Category:</b> Drinks</p><BR>
                <p>Milk, Sugar, Coffee, Choco Powder...</p><BR>
                <p>CDF1, 50.00</p>
                <button mat-raised-button>Add to cart</button> 
            </div>
        </div>
    </div>

    <div class="box">
        <div class="imgbox">
        <img src="./assets/images/drinks/cold_coffee.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Cold Coffee</h3>
            <p><b>Category:</b> Drinks</p><BR>
                <p>Milk, Sugar, Coffee, Choco Powder...</p><BR>
                <p>CDF80.00</p>
                <button mat-raised-button>Add to cart</button> 

        </div>
    </div>
</div>

<div class="box">
    <div class="imgbox">
        <img src="./assets/images/drinks/tea.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Tea</h3>
            <p><b>Category:</b>Drinks</p><BR>
                <p>Milk, Sugar, Water, Tea, Cardamom..</p><BR>
                <p>CDF60.00</p>
                <button mat-raised-button>Add to cart</button> 
        </div></div>
    </div>

<div class="box">
    <div class="imgbox">
        <img src="./assets/images/drinks/greentea.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Green Tea</h3>
            <p><b>Category:</b> Drinks</p><BR>
                <p>Milk, Sugar, Water, Tea, Cardamom...</p><BR>
                <p>CDF70.00</p>
                <button mat-raised-button>Add to cart</button> 
        </div>
    </div>
</div>
</div>
<br><br><br>
<br><br><br><br>




<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">


<div class="mat-typography1">
    <div class="continer123">
    <mat-toolbar>
        </mat-toolbar></div>

<div class="row12">
        <mat-toolbar-row>
            <h2>Chinar Kashmiri Wazwan</h2>
            <div class="icons">
                <a button href="https://www.facebook.com/" target="_blank">
                <i class='fab fa-facebook-f fa-border fa-1x'></i></a>
            </div>
            
            <div class="icons1">
                <a button href="https://www.twitter.com/" target="_blank">
            <i class='fab fa-twitter fa-border fa-1x'></i></a>
        </div>
         
        <div class="icons2">
            <a button href="https://www.instagram.com/" target="_blank">
            <i class='fab fa-instagram fa-border fa-1x'></i></a>
        </div>

        <div class="icons3">
            <a button href="https://mail.google.com/" target="_blank">
             <i class='fas fa-envelope fa-border fa-1x'></i></a>
        </div>

            <div class="col-md-12 col-sm-12 menu-footer footer-center">
                <ul class="menu">
                  <li class="menu-item"><span>Mahima</span></li>
                  <li class="menu-item"><span>Mobile: +91 9416787159</span></li>
                  <li class="menu-item"><span>mahima2022000@gmail.com</span></li>
                </ul>
                </div>
    
                <div class="img1">
                    <!-- <img src="{{imageSrc}}"/> --> -->
                    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 50px; width: 150px">

                </div>
  </mat-toolbar-row></div>
    
    <div class="foot">
    <h3>Copyright@2022- All rights reserved.</h3>
</div>
</div>
    </div> 

