<div class="start">
<h3>Dashboard</h3>
<div class="row">
    <div class="col-sm-12 d-flex justify-content-between">
        <div class="anchor1">
        <a button href="/admin-login">Admin Login Panel </a>
    
      
    </div></div></div>

    <br>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-between">
      <div class="anchor1">
        <a button href="/sign-up">Registration Panel for Users </a>
    </div>
      
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12 d-flex justify-content-between">
      <div class="anchor1">
        <a button href="/login">Log in Panel for Users</a>
    </div>
      
    </div></div></div>

    <br>

    