<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-typography">
<mat-toolbar>
    <h3 style="color: snow;">Order on: +91 9416787159</h3>
    <div class="nav">
    <h3><a button href="/sign-up">Sign Up</a></h3>
        <h3><a button href="/login">Log In</a> </h3>
    </div>

  </mat-toolbar>
  
  <mat-toolbar-row>
      <h2 style="color: black;">Chinar Kashmiri</h2>
      <div class="nav1">
        <h3><a button href="/home">Home</a></h3>
        <h3><a button href="/restaurant">Restaurants</a></h3>
        <h3><a button href="/drinksmenu">Drinks and Bevarages</a></h3>
        </div>
        <div class="nav2">
            <mat-icon>account_box</mat-icon>  <a h3 href="/navbar">My Account</a>
            <mat-icon>shopping_cart</mat-icon>  <h3>View Cart</h3>
        </div>
  </mat-toolbar-row>

<div class="banner">

    <!-- <img src="https://i.pinimg.com/736x/87/61/fd/8761fd586761358ae6c57c65a54eb358.jpg"> -->
    <img src="./assets/images/banner.jpg">
    <h1><b>Fresh, rapid and deliicious</b> </h1>
    <h4>In our restaurants we offer delicious food and quality services, 
        we invite you to try our services</h4>
        <a button mat-raised-button href="/restaurant" style="color: black; margin-left: 426px">VIEW OUR RESTUARANTS</a>   
    
</div>

<div class="rest">
    <h4><b>CHOOSE YOUR TASTE</b></h4>
    <h2><b>RESTAURANT</b></h2>
</div>


<div class="container">
    <div class="box">
        <div class="imgbox">
            <img src="./assets/images/restaurants/restaurant1.jpg">
        </div>
        <div class="details1">
            <div class="content1">
                <h3>Grill Park</h3>
                <p>Order food at Grill-Park. Masters of Italian Pizza. ...</p>
                <button mat-raised-button><a href="/mainmenu">View Our Menu</a></button> 
            </div>
        </div>
    </div>

    <div class="box">
        <div class="imgbox">
        <img src="./assets/images/restaurants/restaurant2.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Bobbies Burger</h3>
            <p>Order a burger on the go. Beef, Cheese,
                Hamburger, Vegan Burger...</p>
                <button mat-raised-button><a href="/mainmenu">View Our Menu</a></button> 

        </div>
    </div>
</div>

<div class="box">
    <div class="imgbox">
        <img src="./assets/images/restaurants/restaurant3.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Chicken n Licken</h3>
            <p>Remove for serving tasty fried chicken 
                pieces & a wide range of other menu...</p>
                <button mat-raised-button><a href="/mainmenu">View Our Menu</a></button>  
        </div>
    </div>
</div>


<div class="box">
    <div class="imgbox">
        <img src="./assets/images/restaurants/restaurant4.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>French House Tarvern</h3>
            <p>Grab a Sandwich at our Pick 'n' Mix Sandwich
                hip & fun environment...</p>
                <button mat-raised-button><a href="/mainmenu">View Our Menu</a></button> 
        </div>
    </div>
</div>
<br><br></div>

<div class="rest1">
    <h2><b>FEATURED MENU</b></h2>
</div>


<div class="container">
    <div class="box">
        <div class="imgbox">
            <img src="./assets/images/menu/3.jpg">
        </div>
        <div class="details1">
            <div class="content1">
                <h3>Mushroom Pizza</h3>
                <p><b>Category:</b> food</p><BR>
                <p>Crushed Tomatoes, Mazzarella, Ham, Garlic, Sauteed Mushrooms...</p><BR>
                <p>CDF1, 100.00</p>
                <button mat-raised-button>Add to cart</button> 
            </div>
        </div>
    </div>

    <div class="box">
        <div class="imgbox">
        <img src="./assets/images/menu/burger3.png">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Chicken Burger</h3>
            <p><b>Category:</b> food</p><BR>
                <p>Chicken, Bacon, Tomatoes, Lettuce, Maya...</p><BR>
                <p>CDF850.00</p>
                <button mat-raised-button>Add to cart</button> 

        </div>
    </div>
</div>

<div class="box">
    <div class="imgbox">
        <img src="./assets/images/menu/chicken2.jpg">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Baked Chicken Wings</h3>
            <p><b>Category:</b> food</p><BR>
                <p>6 piece of chicken with two regular & two Coleslaw...</p><BR>
                <p>CDF900.00</p>
                <button mat-raised-button>Add to cart</button> 
        </div>
    </div>
</div>


<div class="box">
    <div class="imgbox">
        <img src="./assets/images/menu/sandwich4.png">
    </div>
    <div class="details1">
        <div class="content1">
            <h3>Teriyaki Club Sandwich</h3>
            <p><b>Category:</b> food</p><BR>
                <p>Teriyaki chicken, Tomatoes, Lettuce, Sauteed Red Onions...</p><BR>
                <p>CDF699.00</p>
                <button mat-raised-button>Add to cart</button> 
        </div>
    </div>
</div>
<br><br></div>
<br><br><br><br><br>

<div class="container">
    <div class="box">
            <div class="imgbox1">
            <img src="./assets/images/icons/icon1.png">
        </div>
        <div class="details2">
            <div class="content2">
                <h3 style="margin-top: 8px;">Better quality</h3>
                <p>Praesent pulvinar neque pel lentesque mattis pretium. </p>
                
            </div>
        </div>
    </div>

    <div class="box">
        <div class="imgbox1">
        <img src="./assets/images/icons/icon2.png">
    </div>
    <div class="details2">
        <div class="content2">
            <h3>On time</h3>
            <p>Praesent pulvinar neque pel lentesque mattis pretium.</p>
                

        </div>
    </div>
</div>

<div class="box">
    <div class="imgbox1">
        <img src="./assets/images/icons/icon3.png">
    </div>
    <div class="details2">
        <div class="content2">
            <h3>MasterChefs</h3>
            <p>Praesent pulvinar neque pel lentesque mattis pretium.</p>
                
        </div>
    </div>
</div>


<div class="box">
    <div class="imgbox1">
        <img src="./assets/images/icons/icon4.png">
    </div>
    <div class="details2">
        <div class="content2">
            <h3>Tasty food</h3>
            <p>Praesent pulvinar neque pel lentesque mattis pretium.</p>
                
        </div>
    </div>
</div>
<br><br></div>

<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">


<div class="mat-typography1">
    <div class="continer123">
    <mat-toolbar>
        </mat-toolbar></div>

<div class="row12">
        <mat-toolbar-row>
            <h2>Chinar Kashmiri Wazwan</h2>
            <div class="icons">
                <a button href="https://www.facebook.com/" target="_blank">
                <i class='fab fa-facebook-f fa-border fa-1x'></i></a>
            </div>
            
            <div class="icons1">
                <a button href="https://www.twitter.com/" target="_blank">
            <i class='fab fa-twitter fa-border fa-1x'></i></a>
        </div>
         
        <div class="icons2">
            <a button href="https://www.instagram.com/" target="_blank">
            <i class='fab fa-instagram fa-border fa-1x'></i></a>
        </div>

        <div class="icons3">
            <a button href="https://mail.google.com/" target="_blank">
             <i class='fas fa-envelope fa-border fa-1x'></i></a>
        </div>

            <div class="col-md-12 col-sm-12 menu-footer footer-center">
                <ul class="menu">
                  <li class="menu-item"><span>Mahima</span></li>
                  <li class="menu-item"><span>Mobile: +91 9416787159</span></li>
                  <li class="menu-item"><span>mahima2022000@gmail.com</span></li>
                </ul>
                </div>
    
                <div class="img1">
                    <!-- <img src="{{imageSrc}}"/> --> -->
                    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 50px; width: 150px">

                </div>

            
        </mat-toolbar-row></div>
    
    <div class="foot">
    <h3>Copyright@2022- All rights reserved.</h3>
</div>
</div>
    </div> 

